@import '../../app-styles/variables';
@import '../../app-styles/breakpoints';

.primarySection {
  background-color: $primary-color;
}

.backgroundContainer {
  background-image: url('../../assets/images/header/main-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1360px;
  margin: 0 auto;
}

.content {
  color: #fff;
  padding-bottom: 25px;

  @include screen-sm {
    padding-bottom: 50px;
  }

  @include screen-md {
    padding-bottom: 205px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;

  @include screen-md {
    line-height: 70px;
    font-size: 56px;
    max-width: 390px;
    margin-top: 130px;
    margin-bottom: 45px;
  }

  @include screen-lg {
    max-width: 410px;
    margin-bottom: 110px;
    line-height: 65px;
  }
}
