$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1440px;

@mixin screen-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin screen-md{
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}