@import '../../app-styles/variables';


.button {
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  border: 2px solid transparent;
  background: $primary-gradient border-box;
  color: $white-color;
  font-weight: 700;
  box-shadow: $button-shadow;

    &:hover {
      border: 2px solid $primary-color;
      background: transparent;
      color: $primary-color;
      box-shadow: none;
    }
}

.invertedButton {
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  border: 2px solid $primary-color;
  background: transparent;
  color: $primary-color;
  font-weight: 700;
  box-shadow: none;

  &:hover {
    border: 2px solid transparent;
    background: $primary-gradient border-box;
    color: $white-color;
    box-shadow: $button-shadow;
  }
}