@import '../../app-styles/variables';

.auth {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 25px;

  &__username {
    font-size: 20px;
    font-weight: 700;
    color: $white-color;
    text-transform: capitalize;
  }

  &__loginButton,
  &__signupButton,
  &__logoutButton {
    font-size: 16px;
    font-weight: 700;
    color: $white-color;
    border: none;
    cursor: pointer;
  }

  &__loginButton,
  &__logoutButton {
    border-radius: 50px;
    padding: 13px 40px;
    background: $primary-gradient;
  }

  &__signupButton {
    background: transparent;
  }
}

.auth.auth_secondary {
  .auth {
    &__loginButton,
    &__logoutButton {
      cursor: pointer;
      padding: 14px 40px;
      border: none;
      border-radius: 50px;
      background: $primary-gradient;
      color: $white-color;
      font-weight: 700;
      transition: color 0.1s ease;

      &:hover {
        padding: 12px 38px;
        border: 2px solid $primary-color;
        background: transparent;
        color: $primary-color;
      }
    }

    &__signupButton {
      color: $primary-color;

      &:hover {
        color: $primary-text-color;
      }
    }
  }
}
