.auth {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 25px;

  &__loginButton,
  &__signupButton {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  &__loginButton {
    border-radius: 50px;
    padding: 13px 40px;
    background: linear-gradient(90deg, #1eb6ff 0%, #4edbfcff 100%);
  }

  &__signupButton {
    background: transparent;
  }
}

.auth.auth_secondary {
  .auth {
    &__loginButton {
      cursor: pointer;
      padding: 14px 40px;
      border: none;
      border-radius: 50px;
      background: linear-gradient(90deg, #1eb6ff 0%, #4edbfcff 100%);;
      color: #fff;
      font-weight: 700;
      transition: color 0.1s ease;

      &:hover {
        padding: 12px 38px;
        border: 2px solid #2EB7EEFF;
        background: transparent;
        color: #2EB7EEFF;
      }
    }

    &__signupButton {
      color: #2eb7ee;

      &:hover {
        color: #505050;
      }
    }
  }
}