@import '../../app-styles/variables';
@import '../../app-styles/breakpoints';

.search {
  padding: 0 15px 15px;
  background-color: $white-color;
  border-radius: 6px;

  @include screen-md {
    display: flex;
    font-size: 18px;
    padding: 12px;
    border-radius: 50px;
  }

  &__fields {
    @include screen-md {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
    }
  }

  &__field {
    cursor: pointer;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 2px solid $divider;
    }

    @include screen-md {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 30px;
      border-bottom: none;

      &:not(:last-child) {
        border-bottom: 0;
        border-right: 2px solid $divider;
      }
    }
  }

  &__button {
    @include screen-md {
      max-width: 130px;
      flex: 1 1;
      font-size: inherit;
    }
  }
}
