@import '../../app-styles/variables';
@import '../../app-styles/breakpoints';

.guests {
  position: relative;
  color: $primary-text-color;
  padding: 25px 25px 20px 10px;

  @include screen-md {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px 15px 18px 10px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}