@import 'src/app-styles/variables';
@import 'src/app-styles/breakpoints';

.backdrop {
  position: fixed;
  padding: 1em;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: $overlay;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  @include screen-sm {
    padding: 2em;
  }
}

.modal {
  width: 100%;
  position: relative;
  margin: auto;

  @include screen-md {
    width: initial;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButton {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 500;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  fill: $grey;
  transition: all 0.3s ease;

  @include screen-md {
    width: 3em;
    height: 3em;
  }

  &:hover {
    fill: $primary-color;
  }
}
