@import '../../app-styles/variables';
@import '../../app-styles/breakpoints';

.container {
  min-height: 100px;
  padding: 32px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include screen-md {
    padding: 0 40px;
  }

  @include screen-xl {
    max-width: 1360px;
  }
}

.weather {
  display: none;

  @include screen-sm {
    display: block;
  }
}
