@import '../../app-styles/variables';
@import '../../app-styles/breakpoints';

.footer {
  background-color: $secondary-background;

  &__services {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include screen-md {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding: 80px 0;
      gap: 32px;
    }

    @include screen-xl {
      padding: 100px 0;
      flex-wrap: nowrap;
    }
  }

  &__others {
    @include screen-md {
      width: 100%;
    }

    @include screen-xl {
      width: initial;
    }
  }

  &__othersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include screen-md {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 60px;
    }

    @include screen-xl {
      flex-wrap: wrap;
    }
  }

  &__othersTitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    color: $primary-color;
    margin-bottom: 23px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    @include screen-md {
      flex-direction: row;
      width: initial;
      align-self: flex-start;
    }

    @include screen-lg {
      width: 100%;
    }
  }

  &__offerForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;
    border-radius: 50px;
    padding: 4px 4px 4px 24px;
    box-shadow: $shadow;

    @include screen-md {
      width: 70%;
    }
  }

  &__formInput {
    width: 60%;
    font-size: inherit;
  }

  &__formButton{
    cursor: pointer;
    padding: 16px 22px;
    border: none;
    border-radius: 50px;
    background: $primary-gradient;
    color: $white-color;
    font-weight: 700;
    transition: background 0.8s ease, color 0.1s ease;
    box-shadow: $button-shadow;

    &:hover {
      padding: 14px 20px;
      border: 2px solid $primary-color;
      background: transparent;
      color: $primary-color;
    }
  }

  &__offerDescription {
    color: $primary-text-color;

    & span {
      color: $primary-color;
      font-weight: 700;
    }
  }

  &__inner {
    background-color: $footer-background;
  }

  &__innerWrapper {
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include screen-md {
      padding: 22px 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__infoLink,
  &__copyright {
    color: $white-color;
  }
}
